---
import Layout from '../layouts/Layout.astro';
import Pagetitle from '../components/Pagetitle.astro';
import Cardutente from '../components/Cardutente.astro';
---





<Layout title="Scegli la tipologia di utente">

  <main>
    <div class="container">

      <Pagetitle
        title="Sei già registrato al sito?"
        subtitle="Accedi al sito per completare l’acquisto più rapidamente, oppure continua e registrati in un secondo momento."
      />
      
      <div class="d-flex">
        <a href="/login/" type="button" class="btn btn-primary me-2">Accedi</a>
        <a href="/acquisto-mail/" type="button" class="btn btn-outline-primary">Continua e registrati in seguito</a>
        <!-- <div class="dropdown">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Continua e registrati in seguito
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/register-integrata-2/">flusso pg</a></li>
            <li><a class="dropdown-item" href="/register-integrata-2/">flusso pm</a></li>
            <li><a class="dropdown-item" href="/register-integrata-2/">flusso os</a></li>
          </ul>
        </div> -->
      </div>
     

    </div>
  </div>
</main>

 
</Layout>

