---
import Layout from '../layouts/Layout.astro';
import Pagetitle from '../components/Pagetitle.astro';
import Cardutente from '../components/Cardutente.astro';
---

<Layout title="Scegli la tipologia di utente">

  <main>
    <div class="container">

      <Pagetitle
        href="/acquisto-scelta-utente/"
        link="Cambia tipo utente"
        title="Come utente Press & Media, hai diritto all’accredito gratuito"
        subtitle="Per ottenerlo devi prima registrati al sito. Verifica con attenzione di far parte di questa categoria."
      />

      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-info" role="alert">
            <h5>Chi rientra nella categoria Media & Press?</h5>
            <ul>
              <li>giornalisti</li>
              <li>Pubblicisti</li>
              <li>Art director</li>
              <li>Fotografi</li>
              <li>Fotoreporter</li>
              <li>Cameraman</li>
              <li>autore o conduttore Radio o Tv </li>
              <li>stylist</li>
            </ul>
            <p>Non sei tu? <a href="/acquisto-scelta-utente/">Cambia tipo di visitatore</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

 
</Layout>

