---
import Layout from '../layouts/Layout.astro';
import Pagetitle from '../components/Pagetitle.astro';
import Cardutente from '../components/Cardutente.astro';
---





<Layout title="Scegli la tipologia di utente">

  <main>
    <div class="container">

      <Pagetitle
        title="Sei già registrato al sito?"
        subtitle="Accedi al sito per completare l’acquisto più rapidamente, oppure continua e registrati in un secondo momento."
      />

      <div class="row">
        <div class="col-md-6">
          <div class="d-md-flex">
            <a href="/login/" type="button" class="btn btn-primary me-2 w-100 mb-md-0 mb-3">Accedi</a>
            <a href="/acquisto-mail/" type="button" class="btn btn-outline-primary w-100">Continua e registrati in seguito</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>

 
</Layout>

