---
import Layout from "../layouts/Layout.astro";
import Product from "../components/Product.astro";
import Cart from "../components/Cart.astro";
import Pagetitle from "../components/Pagetitle.astro";
import Sectiontitle from "../components/Sectiontitle.astro";
import Recapitem from "../components/Recapitem.astro";
---

<Layout title="Assegna biglietti">
  <main>
    <div class="container txt-center">

      <i class="fa-regular fa-circle-check display-1 text-success"></i>


      <Pagetitle
      title="Acquisto completato"
      subtitle="Puoi gestire i tuoi biglietti all’interno della tua area riservata, e rimanere sempre aggiornato sul Salone del Mobile."
      />

      <div class="mt-4">
        <button type="button" class="btn btn-outline-primary me-4">Torna alla home</button>
        <button type="button" class="btn btn-primary">Vai ai tuoi biglietti</button>
      </div>

    </div>
  </main>
</Layout>