---
import Layout from '../layouts/Layout.astro';
import Product from '../components/Product.astro';
import Cart from '../components/Cart.astro';
---

<Layout title="SdM Fake cart">

	<main>
		<div class="products container">
			<div class="row my-3">
				<div class="col">
					<Product
						id="Product 1"
						title="Product 1"
						price={35}
						body="1 giorno"
					/>
				</div>
			</div>
			<div class="row my-3">
				<div class="col">
					<Product
						id="Product 2"
						title="Product 2"
						price={60}
						body="3 giorni"
					/>
				</div>
			</div>
			<div class="row my-3">
				<div class="col">
					<Product
						id="Product 3"
						title="Product 3"
						price={73}
						body="6 giorni"
					/>
				</div>
			</div>
		</div>

		<div class="container my-3">
			<div class="row">
				<div class="col">
					<a href="step-2" class="btn btn-primary">Procedi</a>
				</div>
			</div>
		</div>

		<div class="container my-3">
			<div class="row">
				<div class="col">
					<Cart />
				</div>
			</div>
		</div>

	</main>

</Layout>

<style>

</style>
