---
import Layout from '../layouts/Layout.astro';
---


<Layout title="Home">

    <main>
        <div class="container">
            <a class="btn btn-primary" href="/cart-step-1/">Acquisto da loggato</a>
        </div>


        <div class="container">
            <a class="btn btn-primary" href="//">Acquisto da NON loggato</a>
        </div>

    </main>
</Layout>
