---
import Layout from '../layouts/Layout.astro';
---


<Layout title="Home">

    <main>

      <div class="container-fluid bg-danger py-2">
        <div class="container">
          <p class="text-white fs-3 text-center mb-0">Salone del Mobile.Milano | 16-21 Aprile 2024
            <button class="ms-3 btn-sm btn btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
              <i class="fa-solid fa-chevron-down"></i>
          </button>
        </p>
        <!-- <div style="min-height: 120px;">
          <div class="collapse collapse-horizontal d-flex" id="collapseWidthExample">
            <div class="col">dsgahfs</div>
            <div class="col">dsgahfs</div>
            <div class="col">dsgahfs</div>
            <div class="col">dsgahfs</div>
          </div> -->
        </div>
      </p>
        </div>

      </div>

        <!-- carosello -->

        <div class="container mb-5">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://www.salonemilano.it/sites/default/files/styles/libero/public/2023-10/SaloneSatellite-1-salonemilano.jpg.webp?itok=_adfceSa" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="container">
          <div class="row py-5">
            <div class="col-md-3 col-6">
              <div class="card">
                <img src="https://www.salonemilano.it/sites/default/files/styles/libero/public/2023-10/milano-digital-week-2023-salonemilano-1_0.jpg.webp?itok=JeGstQuI" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Milano Digital Week 2023, fra cambi di paradigma e sviluppo dei limiti </h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#">Approfondisci</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="card">
                <img src="https://www.salonemilano.it/sites/default/files/styles/libero/public/2023-09/Liberte-ambientata-salonemilano_0.jpg.webp?itok=6PYm2ajy" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Moda e design: come sono andate le ultime Fashion Week</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#">Approfondisci</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="card">
                <img src="https://www.salonemilano.it/sites/default/files/styles/libero/public/2023-10/salonemilano-moda-design_0.jpg.webp?itok=yXd4Z-9R" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Vienna Design Week 2023: ecco com’è andata</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#">Approfondisci</a>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-6">
              <div class="card">
                <img src="https://www.salonemilano.it/sites/default/files/styles/libero/public/2023-10/cover-salonemilano-vienna-design-week.jpg.webp?itok=JOnThqVV" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">AB Concept: progettare come uno chef</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#">Approfondisci</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      

    </main>
</Layout>

<style>
  main{
    padding-top: 80px;
  } 
</style>
