---
import Layout from '../layouts/Layout.astro';
---


<Layout title="Home">

    <main>
        <div class="container">
            <a class="btn btn-primary" href="/cart-step-1/">Acquista biglietti</a>
        </div>

    </main>
</Layout>
