---
import Layout from '../layouts/Layout.astro';
---


<Layout title="Home">

    <main>
        <div class="container">
            <a type="button" class="btn btn-primary" href="/sdm-cart-prototype/cart-step-1">Acquista biglietti</a>
        </div>

    </main>
</Layout>
