---
import Layout from '../layouts/Layout.astro';
import Pagetitle from '../components/Pagetitle.astro';
---


<Layout title="Home">

    <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="px-0 px-md-5 py-5 w-75 m-auto">
                <Pagetitle
                title="Accedi con la tua mail"
                />

                <div class="mb-4">
                  <label for="exampleFormControlInput1" class="form-label">Inserisci la tua mail*</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>

                <div id="emailErrorAlert" class="alert alert-danger d-none" role="alert">
                  Invalid email format!
                </div>

                <div class="alert alert-light mb-4" role="alert">
                  <strong>Accesso Rapido</strong><br>Ti manderemo un codice per la login senza necessità di inserire la password. Se invece preferisci, puoi <a href="">accedere con la password</a>.
                </div>

                <a href="/login-passwordless/" id="accediButton" class="btn btn-primary mb-4" role="button" aria-disabled="true">Accedi con la mail</a>

                <p>Non hai un account? <a href="/register/">Registrati ora</a></p>

              </div>
            </div>
            <div class="col-md-6">
              <img class="d-none d-md-block" src="https://salonemilano.my.site.com/identity/resource/1681233057000/SDM/assets/home_salesforce.jpg" alt="">

            </div>
            </div>
          </div>
        </div>

    </main>
</Layout>



<style>
  main {
    padding-top: 72px;
}
</style>

<!-- controlli sulla mail -->

<script>
  document.addEventListener('DOMContentLoaded', function() {
  
      const emailInput = document.getElementById('exampleFormControlInput1');
      const errorAlert = document.getElementById('emailErrorAlert');
      const accediButton = document.getElementById('accediButton');
  
      const checkEmailFormat = () => {
          let email = emailInput.value;
  
          // Initially remove 'is-invalid' in case it was added from a previous check
          emailInput.classList.remove('is-invalid');
  
          if (email.indexOf('@') === -1 || email.indexOf('.') === -1) {
              errorAlert.textContent = "Invalid email format!";
              
              if(email.indexOf('@') === -1) {
                  errorAlert.textContent += " Email should contain '@'.";
              }
  
              if(email.indexOf('.') === -1) {
                  errorAlert.textContent += " Email should contain '.'.";
              }
              
              errorAlert.classList.remove('d-none');
              emailInput.classList.add('is-invalid');  // Add 'is-invalid' to the input
              return false;
          } else {
              errorAlert.classList.add('d-none');
              return true;
          }
      };
  
      accediButton.addEventListener('click', checkEmailFormat);
  });
  </script>

  <style>
      @media (max-width: 600px) {
    .w-75 {
      width: 100%!important;
    }
  }
  </style>
    