---
import Layout from '../layouts/Layout.astro';
import Pagetitle from '../components/Pagetitle.astro';
---


<Layout title="Home">

    <main>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="px-0 px-md-5 py-5 w-75 m-auto">
                <Pagetitle
                title="Inserisci il codice OTP"
                subtitle="Controlla la tua mail. Abbiamo inviato un codice a sei cifre alla mail ann******@gmail.com. Inseriscilo per accedere senza password. Il codice scade a breve, inseriscilo quanto prima."
                />

                <div class="mb-4 d-flex w-50">
                  <div class="pe-2">
                    <input type="text" maxlength="1" class="form-control" id="exampleFormControlInput1">
                  </div>
                  <div class="pe-2">
                    <input type="text" maxlength="1" class="form-control" id="exampleFormControlInput1">
                  </div>
                  <div class="pe-2">
                    <input type="text" maxlength="1" class="form-control" id="exampleFormControlInput1">
                  </div>
                  <div class="pe-2">
                    <input type="text" maxlength="1" class="form-control" id="exampleFormControlInput1">
                  </div>
                  <div class="pe-2">
                    <input type="text" maxlength="1" class="form-control" id="exampleFormControlInput1">
                  </div>
                  <div class="">
                    <input type="text" maxlength="1" class="form-control" id="exampleFormControlInput1">
                  </div>

                </div>

                <p>Non hai ricevuto la mail? <br>Controlla lo spam oppure <a href="">richiedi un nuovo codice</a></p>

                <div class="dropdown mt-4">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Accedi
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/cart-step-1/">os</a></li>
                    <li><a class="dropdown-item" href="#">pg</a></li>
                    <li><a class="dropdown-item" href="#">mp</a></li>
                  </ul>
              </div>

              </div>
            </div>
            <div class="col-md-6">
              <img class="d-none d-md-block" src="https://salonemilano.my.site.com/identity/resource/1681233057000/SDM/assets/home_salesforce.jpg" alt="">

            </div>
            </div>
          </div>
        </div>

    </main>
</Layout>



<style>
  main {
    padding-top: 72px;
}
</style>
