---
import Layout from '../layouts/Layout.astro';
import Pagetitle from '../components/Pagetitle.astro';
import Cardutente from '../components/Cardutente.astro';
---





<Layout title="Press & Media">

  <main>
    <div class="container">
      <div class="row">

        <div class="col-md-8">
          <Pagetitle
          title="Press & Media"
          subtitle="Benvenuto nell’Area Press del Salone del Mobile.Milano, dove puoi visualizzare e scaricare comunicati, cartelle stampa e immagini."
        />
  
        <p>Se non l’hai ancora fatto, registrati per restare informato sulle date della conferenza stampa e dell’<strong>apertura accrediti</strong> della 62° edizione del Salone del Mobile.Milano (16-21 aprile 2024, Fiera Milano Rho).
          Per qualsiasi informazione puoi scriverci <a href="">press@salonemilano.it</a>.</p>

          <a class="btn btn-primary my-4" href="/login/">Accedi</a>
          <a class="btn btn-primary my-4" href="/register/">Registrati</a>
        

        <div class="border-top pt-4">
          <h5>COMUNICATI STAMPA E IMMAGINI</h5>
        <p><strong>10.10.2023</strong><br />SaloneSatellite e Rinascente: il design (ri)parte dai giovani</p>
        <ul>
        <li>Comunicato Stampa</li>
        <li><a href="">Preview immagini</a></li>
        <li>Immagini</li>
        </ul>
        <p><strong>14.09.2023</strong><br />Il Salone del Mobile.Milano ottiene la certificazione ISO 20121</p>
        <ul>
        <li>Comunicato stampa</li>
        <li>Immagini</li>
        </ul>
        <p><strong>18.07.2023</strong><br />Design Innovation Award: &egrave; Maria Porro la nuova Presidente di Giuria</p>
        <ul>
        <li>Comunicato stampa</li>
        <li>Immagini</li>
        </ul>
        <p><strong>23.04.2023</strong><br />Il Salone del Mobile.Milano 2023 chiude a +15%</p>
        <ul>
        <li>Comunicato stampa</li>
        <li>Immagini</li>
        </ul>
        <p><strong>19.04.2023</strong><br />SaloneSatellite Award 2023: i vincitori</p>
        <ul>
        <li>Comunicato stampa</li>
        <li>Immagini</li>
        </ul>

        </div>

        

        </div>
      </div>
    </div>
  </div>
</main>

 
</Layout>

