---
import Layout from '../layouts/Layout.astro';
import Pagetitle from '../components/Pagetitle.astro';
import Cardutente from '../components/Cardutente.astro';
---





<Layout title="Generico | link attivazione">

  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="px-0 px-md-5 py-5 w-75 m-auto">
            
            <div class="pt-3 pb-5">
              <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 80%"></div>
              </div>
            </div>

            <Pagetitle
            href="/register-press-2b/"
            link="torna indietro"
            title="Ci sei quasi!"
            subtitle="Controlla la tua casella mail! Ti abbiamo inviato un messaggio con un link. Cliccalo per verificare il tuo indirizzo mail e attivare il tuo account."
            />

            <!-- body -->

            <p>Non hai ricevuto la mail? Controlla lo spam oppure <a href="">richiedi un nuovo link</a> di attivazione.</p>

            <a href="/register-press-4/" type="submit" class="btn btn-primary mt-4">Attiva account</a>

          </div>
        </div>


        <div class="col-md-6">
          <img class="d-none d-md-block w-100" src="https://salonemilano.my.site.com/identity/resource/1681233057000/SDM/assets/home_salesforce.jpg" alt="">

        </div>
      </div>
    </div>
  </div>

</main>

 
</Layout>


<style>
  main {
    padding-top: 72px;
  }
  @media (max-width: 600px) {
    .w-75 {
      width: 100%!important;
    }
  }
</style>