---
import Layout from '../layouts/Layout.astro';
import Pagetitle from '../components/Pagetitle.astro';
import Cardutente from '../components/Cardutente.astro';
---


<Layout title="Press | contatti professionali">

  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="px-5 py-5 w-75 m-auto">
            
            <div class="pt-3 pb-5">
              <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 0%"></div>
              </div>
            </div>

            <Pagetitle
            href="/register-press-1/"
            link="torna indietro"
            title="Informazioni di contatto professionale"
            subtitle="Ci occorrono per garantirti i migliori servizi durante la visita del Saloni e per la raccolta dati statistici anonimi"
            />

            <!-- form -->

            <form class="d-grid">
              <div class="mb-3">
                <label for="Telefono" class="form-label">Mail*</label>
                <input type="mail" class="form-control" id="Telefono">
              </div>
              <div class="mb-3">
                <label for="Telefono" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="Telefono">
              </div>
              <div class="mb-3">
                <label for="Telefono" class="form-label">Città*</label>
                <input type="text" class="form-control" id="Città">
              </div>
              <div class="mb-3">
                <label for="Telefono" class="form-label">Cap</label>
                <input type="text" class="form-control" id="cap">
              </div>
              <div class="mb-3">
                <label for="Telefono" class="form-label">Nazione*</label>
                <input type="text" class="form-control" id="Nazione">
              </div>
              <a href="/register-press-2/" type="submit" class="btn btn-primary mt-4">Continua</a>
            </form>
          </div>
        </div>


        <div class="col-md-6">
          <img class="d-none d-md-block w-100" src="https://salonemilano.my.site.com/identity/resource/1681233057000/SDM/assets/home_salesforce.jpg" alt="">

        </div>
      </div>
    </div>
  </div>

  </main>

</Layout>


<style>
  main {
    padding-top: 72px;
  }
</style>