---
import Layout from '../layouts/Layout.astro';
import Pagetitle from '../components/Pagetitle.astro';
import Cardutente from '../components/Cardutente.astro';
---





<Layout title="Press | info personali">

  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="px-0 px-md-5 py-5 w-75 m-auto">
            
            <div class="pt-3 pb-5">
              <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" style="width: 0%"></div>
              </div>
            </div>

            <Pagetitle
            href="/register-scelta-utente/"
            link="torna indietro"
            title="Informazioni personali"
            subtitle="Ci occorrono per garantirti i migliori servizi durante la visita del Saloni e per la raccolta dati statistici anonimi"
            />

            <!-- form -->

            <form class="d-grid">
              <div class="mb-3">
                <label for="Nome" class="form-label">Nome*</label>
                <input type="text" class="form-control" id="nome" aria-describedby="nomeHelp">
                <!-- <div id="nomeHelp" class="form-text">We'll never share your email with anyone else.</div> -->
              </div>
              <div class="mb-3">
                <label for="Cognome" class="form-label">Cognome*</label>
                <input type="text" class="form-control" id="Cognome">
              </div>
              <div class="mb-3">
                <label for="Telefono" class="form-label">Nazionalità*</label>
                <input type="text" class="form-control" id="Nazione">
              </div>
              <a href="/register-press-1b/" type="submit" class="btn btn-primary mt-4">Continua</a>
            </form>



          </div>
        </div>


        <div class="col-md-6">
          <img class="d-none d-md-block w-100" src="https://salonemilano.my.site.com/identity/resource/1681233057000/SDM/assets/home_salesforce.jpg" alt="">

        </div>
      </div>
    </div>
  </div>

  </main>

</Layout>


<style>
  main {
    padding-top: 72px;
  }
</style>