---
import Layout from '../layouts/Layout.astro';
import Pagetitle from '../components/Pagetitle.astro';
import Cardutente from '../components/Cardutente.astro';
---





<Layout title="Scegli la tipologia di utente">

  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="px-5 py-5 w-75 m-auto">
            <Pagetitle
            title="Seleziona il tipo di visitatore"
            subtitle="Te lo chiediamo ora per indirizzarti correttamente nella creazione del tuo profilo"
            />

            <!-- card tipo utente -->

            <Cardutente
            title="Operatore del settore";
          	subtitle="Professionisti, designer, buyer, rivenditori, contractor, ecc...";
            entrance="In tutte le giornate";
            prezzo1="1 giorno / € 35,00";
            prezzo2="3 giorni/ € 90,00";
            prezzo3="6 giorni / € 180,00";
            cta="Sono un operatore del settore";
            href="/register-operatore-1/";
            modalid="modal-operatore"
            modaltarget="#modal-operatore";
            modaltitle="Operatore del settore";
            modalbody="Nella categoria degli operatori rientrano: architetti e designer, buyer, decoratori d'interno, distributori e rivenditori, esportatori e importatori, facility manager, general contractor, lighting designer. <p class='mt-3'>In caso di dubbi sulla categoria di appartenenza, ti preghiamo di scrivere a <a href=''>tkt@salonemilano.it</a>"
            />

            <Cardutente
            title="Pubblico generico";
          	subtitle="Amanti del design, non professionisti, studenti";
            entrance="Sabato o domenica. Se sei studente, l’accesso è possibile anche il venerdì.";
            prezzo1="1 giorno / € 35,00";
            prezzo2="1 giorno (studenti)/ €25,00";
            prezzo3="6 giorni / € 180,00";
            cta="Faccio parte del pubblico generico";
            href="/register-generico-1/";
            modalid="modal-generico";
            modaltarget="#modal-generico";
            modaltitle="Pubblico generico";
            modalbody="Questa categoria comprende gli studenti e il pubblico generico interessato al design ma la cui attività professionale non è attinente a questo ambito.  <p class='mt-3'>In caso di dubbi sulla categoria di appartenenza, ti preghiamo di scrivere a <a href=''>tkt@salonemilano.it</a>"
            />

            <Cardutente
            title="Press&Media";
            subtitle="Giornalisti, Pubblicisti, Art director, Fotografi, Fotoreporter, Cameraman, Autore o conduttore, Stylist";
            entrance="In tutte le giornate";
            prezzo1="Accreedito gratuito su richiesta";
            prezzo2="3 giorni/ € 90,00s";
            prezzo3="6 giorni / € 180,00";
            cta="Sono un utente Press&Media";
            href="/register-press-1/";
            modalid="modal-press";
            modaltarget="#modal-press";
            modaltitle="Press&Media";
            modalbody="Rientrano in questa categoria, e hanno diritto all'ingresso gratuito alla fierna con Accredito Giornalisti, Pubblicisti, Art director, Fotografi, Fotoreporter, Cameraman, Autore o conduttore, Stylist.<p class='mt-3'>Non fai parte di questa categoria?</p> Puoi sempre registrarti come <strong>operatore del settore</strong> o <strong>pubblico generico</strong>. In alternativa, scrivi a <a href=''>press@salonemilano.it</a>";
            />

          </div>
        </div>


        <div class="col-md-6">
          <img class="d-none d-md-block w-100" src="https://salonemilano.my.site.com/identity/resource/1681233057000/SDM/assets/home_salesforce.jpg" alt="">

        </div>
      </div>
    </div>
  </div>

</main>

 
</Layout>


<style>
  main {
    padding-top: 72px;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
  padding-bottom: 8px;
  }
</style>