---
interface Props {
	CtaText: string;
	CtaUrl?: string;
}

const { CtaText, CtaUrl } = Astro.props;
---

<div class="col-md-4 d-none d-md-block">
	<div class="bg-lightgrey shadow-sm p-4 sticky-top">
		<p>Il tuo carrello</p>

		<div class="cart">
			<ul id="cart-items" class="cart-items">
				<!-- Elementi del carrello saranno aggiunti qui -->
			</ul>
			<p class="fs-5 fw-bold">Totale: € <span id="cart-total">0.00</span></p>
		</div>

		<a href={CtaUrl} class="btn btn-primary cta-cart-proceed">{CtaText}</a>
	</div>
</div>

<style lang="scss" is:global>
  .cart-items {
		list-style: none;
	}
	.cart-item + .cart-item {
		margin-top: 8px;
		border-top: 1px solid #ccc;
	}

	.cart-item {
		padding-block: 8px;
		.quantity, .item-total, .category-name {
			font-weight: bold;
		}
	}
</style>