---

---
<div class="cart sticky-top">
	<ul id="cart-items">
		<!-- Elementi del carrello saranno aggiunti qui -->
	</ul>
	<p class="fs-5 fw-bold">Totale: € <span id="cart-total">0.00</span></p>
</div>
