---

---
<div class="cart border border-3 p-3">
	<ul id="cart-items">
		<!-- Elementi del carrello saranno aggiunti qui -->
	</ul>
	<p class="fs-5 fw-bold">Totale: € <span id="cart-total">0.00</span></p>
</div>