---
interface Props {
	CtaText: string;
	CtaUrl?: string;
}

const { CtaText, CtaUrl } = Astro.props;
---

<div class="cart col-lg-4">
	<div class="bg-light shadow p-4 sticky-top" style="top: 80px;">

		<input type="checkbox" id="show-cart-items" class="input-expand-cart visually-hidden">

		<label for="show-cart-items" class="d-flex justify-content-between label-expand-cart" style="cursor: pointer;">
			<span id="total-items"></span>
			<div class="cart-total fs-5 fw-bold">
				<i class="fa-solid fa-chevron-up me-2"></i>
				<span id="cart-total">0.00</span>€
			</div>
		</label>

		<ul id="cart-items" class="cart-items">
			<!-- Elementi del carrello saranno aggiunti qui -->
		</ul>

		<a href={CtaUrl} class="btn btn-primary cta-cart-proceed">{CtaText}</a>
	</div>
</div>

<style lang="scss" is:global>

	.cart {
		@media screen and (max-width: 992px) {
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 3000;
			background-color: #fff;
			padding: 0;
		}

	}
	.cart-items {
		list-style: none;
		padding: 0;
		@media screen and (max-width: 992px) {
			display: none;
		}
	}
	.cart-item + .cart-item {
		margin-top: 8px;
		border-top: 1px solid #ccc;
	}

	.cart-item {
		padding-block: 8px;
		.quantity, .item-total, .category-name {
			font-weight: bold;
		}
	}

	.cart-total {
		@media screen and (max-width: 992px) {
			text-align: right;
		}
	}

	.label-expand-cart {
		pointer-events: none;
		@media screen and (max-width: 992px) {
			pointer-events: initial;
			display: block;
		}
	}

	.input-expand-cart:checked ~ .cart-items {
		display: block;
	}

	.fa-chevron-up {
		display: none;
		@media screen and (max-width: 992px) {
			display: inline-block;
		}
	}

	.input-expand-cart:checked ~ .label-expand-cart {
		.fa-chevron-up {
			transform: rotate(180deg);
		}
	}

</style>