---
interface Props {
	title: string;
	subtitle: string;
  icon: string;
}

const { icon, title, subtitle } = Astro.props;
---

<div class="d-md-flex">
    <i class={icon}></i>
    <div class="ps-md-4 ps-0">
      <h5 class="fw-bold" set:html={title} />
      <p set:html={subtitle} />
    </div>
</div>

